<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StreamerCap</title>
</head>
<body>
    <header>
        <h1>StreamerCap</h1>
        <body>
            
            <table>
                <tr>
                    <th>Rank</th>
                    <th>Streamer</th>
                    <th>Title</th>
                    <th>Platform</th>
                    <th>Viewers</th>
                    <th>Average Viewers</th>
                </tr>
                {% for streamer in streamers %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <th>{{ streamer.streamer }}</th>
                    <th>{{ streamer.title }}</th>
                    <th>{{ streamer.streamer.platform }}</th>
                    <th>{{ streamer.current_viewers }}</th>
                    <th>{{ streamer.avg_viewers }}</th>
                </tr>
                {% endfor %}
            </table>
                
            
        </body>
    </header>
</body>
</html>