{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&display=swap" >
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
    <title>StreamerCap</title>
</head>
<body onload="getIndex()">
    <header>
        <h1>Streamer<span style="font-weight:800; color: rgb(245, 59, 59);">Cap</span></h1>
        <h3 id="subtitle">Browse the most popular livestreams on the internet.</h3>
    </header>
    
    <main>

        <div class="filter-categories">
            <button id="lang" onclick="drop(this.id)">Language</button>
            <button id="game">Game</button>
            <button id="platform" onclick="drop(this.id)">Platform</button>
            <button id="length" onclick="drop(this.id)">Length</button>
            <!-- <button>Lorem</button>
            <button>Ipsum</button> -->
        </div>

        <table id="table">
            <tr id='table-header'>
                <th class='rank'>#</th>
                <th class='streamer'>Streamer</th>
                <th class='viewership_header'>Viewers</th>
                <th class='category_header'>Category</th>
                <th class='platform'>Platform</th>
                <th class='title_header'>Title</th>
            </tr>
            <!-- {% for streamer in streamers %}
            <tr>
                <td class='rank'>{{ forloop.counter }}</td>
                <td class='streamer'><a href="{{ streamer.stream_link }}">{{ streamer.streamer }}</a></td>
                <td class='viewership'>{{ streamer.viewer_count|intcomma }}</td>
                <td class='category'>{{ streamer.game }}</td>
                <td class='platform'>{{ streamer.streamer.platform }}</td>
                <td class='title'>{{ streamer.title|truncatechars:20 }}</td>
            </tr>
            {% endfor %} -->
        </table>
    </main>
    
    <footer>
        <a href="https://docs.google.com/forms/d/1ZjqDwd2v8-ofRiZxccTygMIsj4V1A0bvkSXH6qmfcqw/viewform?edit_requested=true">Have feedback?</a>
    </footer>
    <img id="twitch-logo" src="{% static 'media/img/twitch.png' %}" width="45px" style="display:none;">
    <img id="mixer-logo" src="{% static 'media/img/mixer.png' %}" width="38px" style="display:none;">

</body>
</html> 