html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(246, 246, 246);
}

.streamer a{
    text-decoration: none;
    color: rgb(15, 15, 15);
}

.streamer a:hover{
    text-decoration: underline;
}

table, th, tr {
    border-bottom: .6px solid rgb(194, 194, 194);
    border-collapse: collapse;
    position: relative;
}

#table-header {
    font-size: larger;
    position: sticky;
    top: 0;
}


th, td {
    padding: 1em;
    text-align: left;
}
.streamer, .rank {
    font-weight: bold;
}
.platform {
    text-align: center;
}

.viewership_header {
    text-align: right;
}

.viewership {
    color: rgb(22, 22, 255);
    text-align: right;
}

.category_header {
    text-align: right;
}

.title_header, .title {
    text-align: right;
}
footer {
    margin: 2em;
    text-align: center;
}

footer > a {
    color: grey;
    text-decoration: none;
}

footer > a:hover {
    text-decoration: underline;
    color: blue;
}


header h1 {
    font-size: 3em;
    font-family: 'Lobster';
    text-align: center;
    color: rgb(37, 36, 36);
    font-weight: 100;
}
header {
    margin-bottom: 4em;
    padding-bottom: .5em;
    border-bottom: .25px solid rgb(194, 194, 194);
}













/* LAYOUT */
/* mobile */
body {
    display: grid;
    grid-gap: 1em;
    min-height: 100vh;
    grid: 
    'header' auto
    'table' 1fr
    'footer' auto
    / 1fr
    ;
}

/* Desktop */
@media (min-width: 70em) {
    body {
        grid:
            'header header header header header' auto
            ' . table table table . ' 1fr
            ' . table table table . ' auto
            'footer footer footer footer footer' auto
            / 2fr 1fr 2fr 2fr 2fr;
    }
    header h1 {
        text-align: left;
        margin-left: 2.5em;
        
    }
}



header {
    grid-area: header;
}

table {
    grid-area: table;
}

footer {
    grid-area: footer;
}