html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(246, 246, 246);
}

.streamer a{
    text-decoration: none;
    color: rgb(15, 15, 15);
}

.streamer a:hover{
    text-decoration: underline;
}

table, th, tr {
    border-bottom: .6px solid rgb(194, 194, 194);
    border-collapse: collapse;
    position: relative;
}

#table-header {
    font-size: larger;
    position: sticky;
    top: 0;
}


th, td {
    padding: 1em;
    text-align: left;
}
.streamer, .rank {
    font-weight: bold;
}
.platform {
    text-align: center;
}

.viewership_header {
    text-align: right;
}

.viewership {
    color: rgb(22, 22, 255);
    text-align: right;
}

.category_header {
    text-align: center;
}

.category {
    padding-left: 2em;
}

.title_header, .title {
    text-align: right;
}

#subtitle{
    text-align: center;
    font-size: 20px;
    font-style: italic;
    color: #464646;
    
}
footer {
    margin: 2em;
    text-align: center;
}

footer > a {
    color: grey;
    text-decoration: none;
}

footer > a:hover {
    text-decoration: underline;
    color: blue;
}


header h1 {
    font-size: 3.2em;
    font-family: 'Lobster';
    text-align: center;
    color: rgb(37, 36, 36);
    font-weight: 100;

    
}
header {
    margin-bottom: 4em;
    /* padding-bottom: 4em; */
    border-bottom: .25px solid rgb(194, 194, 194);
    
}


.filter-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3em;
  }
  
button {
    font-size: 1em;
    font-weight: 700;
    /* background:#3b658f; */
    background: none;
    color: #0e2439;
    border:  1.5px solid #0e2439;
    border-radius: 100px;
    padding: .75em 1em;
    margin: .15em .25em;

    flex-grow: 1;
}
  
button:hover {
    cursor: pointer;
    /* background: rgb(245, 59, 59); */
    background:#3b658f;
    /* background:#3b8f42;
    background:#ffee69; */

    /* background: #0e2439; */
    color: white;
    -webkit-box-shadow: -6px 8px 0px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 8px 0px 1px rgba(0,0,0,0.75);
    box-shadow: -4px 6px 0px 0px rgba(0,0,0,0.75);
}

#langs>button{
    background: lightgrey;
}
#langs>button :hover{
    background: lightgreen;
}

#langs {
    display: none;
}
  










/* LAYOUT */
/* mobile */
body {
    display: grid;
    grid-gap: 1em;
    min-height: 100vh;
    grid: 
    'header' auto
    'main' 1fr
    'footer' auto
    / 1fr
    ;
}

/* Desktop */
@media (min-width: 70em) {
    body {
        grid:
            'header header header header header' auto
            ' . main main main . ' 1fr
            ' . main main main . ' auto
            'footer footer footer footer footer' auto
            / 2fr 1fr 2fr 2fr 2fr;
    }
    header h1 {
        text-align: left;
        margin-left: 2.5em;
        
    }
    #subtitle{
        margin-left: 120px;
        text-align: left;
    }
}



header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}